$color-primary-thedarkest: #1f2224;
$color-primary-darker: #242629;
$color-primary-dark: #34363b;
$color-primary-base: #36383c;
$color-primary-light: #505051;
$color-primary-lighter: #a0a0a1;

$color-secondary-base: #fff;
$color-secondary-accent-light: #34a58e;
$color-secondary-accent-lighter: #47c5ab;

$font-xl: 2.5em;
$font-l: 0.9em;
$font-m: 0.875em;
$font-s: 0.75em;