.sprite {
    background-image: url(../../src/img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-alarm{
    width: 32px;
    height: 31px;
    background-position: -5px -5px;
}

.sprite-book {
    width: 32px;
    height: 32px;
    background-position: -47px -5px;
}

.sprite-bullseye {
    width: 32px;
    height: 32px;
    background-position: -89px -5px;
}

.sprite-equalizer{
    width: 28px;
    height: 32px;
    background-position: -131px -5px;
}

.sprite-home {
    width: 32px;
    height: 31px;
    background-position: -5px -47px;
}

.sprite-pattern {
    width: 32px;
    height: 32px;
    background-position: -47px -47px;
}

.sprite-line {
    width: 32px;
    height: 32px;
    background-position: -89px -47px;
}

.sprite-search {
    width: 18px;
    height: 18px;
    background-position: -131px -47px;
}

.sprite-picture {
    width: 30px;
    height: 30px;
    background-position: -131px -75px;
}

.sprite-map {
    width: 20px;
    height: 26px;
    background-position: -5px -115px;
}

.sprite-cart {
    width: 18px;
    height: 15px;
    background-position: -159px -47px;
}

.sprite-message {
    width: 63px;
    height: 61px;
    background-position: -35px -89px;
}

.sprite-comment {
    width: 16px;
    height: 15px;
    background-position: -108px -115px;
}

.sprite-user {
    width: 32px;
    height: 23px;
    background-position: -134px -115px;
}

.sprite-view {
    width: 20px;
    height: 12px;
    background-position: -108px -148px;
}

.sprite-down {
    width: 22px;
    height: 12px;
    background-position: -138px -148px;
}

.sprite-tv {
    width: 32px;
    height: 28px;
    background-position: -169px -5px;
}

.sprite-dribbble {
    width: 16px;
    height: 16px;
    background-position: -187px -43px;
}

.sprite-facebook {
    width: 8px;
    height: 16px;
    background-position: -211px -5px;
}

.sprite-facebook2 {
    width: 12px;
    height: 26px;
    background-position: -213px -31px;
}

.sprite-google {
    width: 16px;
    height: 14px;
    background-position: -187px -69px;
}

.sprite-instagram {
    width: 16px;
    height: 16px;
    background-position: -176px -93px;
}

.sprite-instagram2 {
    width: 26px;
    height: 26px;
    background-position: -176px -119px;
}

.sprite-pinterest {
    width: 13px;
    height: 16px;
    background-position: -213px -67px;
}

.sprite-pinterest2 {
    width: 20px;
    height: 26px;
    background-position: -5px -155px;
}

.sprite-tumblr {
    width: 10px;
    height: 16px;
    background-position: -202px -93px;
}

.sprite-twitter {
    width: 16px;
    height: 14px;
    background-position: -170px -155px;
}

.sprite-twitter2 {
    width: 26px;
    height: 22px;
    background-position: -196px -155px;
}

.sprite-youtube {
    width: 16px;
    height: 12px;
    background-position: -5px -93px;
}
