$color-primary-dark: #3c3b3b;
$color-primary-base: #646464;
$color-primary-light: #a0a0a0;
$color-primary-lighter: #f4f4f4;

$color-secondary-base: #fff;
$color-secondary-accent: #2ebaae;

$font-xs: 0.6em;
$font-s: 0.7em;
$font-m: 0.8em;
$font-l: 0.9em;
$font-xl: 1.5em;
$font-xxl: 2em;