@mixin flexbox ($fd, $jc, $ai, $fw: nowrap) {
	display: flex;
	flex-direction: $fd;
	justify-content: $jc;
	align-items: $ai;
	flex-wrap: $fw;
}

@mixin background-opacity ($color, $opacity: 1) {
    background: rgba($color, $opacity);
}

@mixin color-opacity ($color, $opacity: 1) {
    color: rgba($color, $opacity);
}

@mixin border-opacity ($color, $opacity: 1) {
    border-color: rgba($color, $opacity);
}

@mixin font-style ($size, $weight: 900) {
	font-size: $size;
	font-weight: $weight;
}

@mixin sprite ($size) {
	background-image: url(../../src/img/icon.png);
	width: $size;
	height: $size;
}

@mixin centring ($half-size: -12px) {
	top: 50%;
	margin-top: $half-size;
	left: 50%;
	margin-left: $half-size;
}