$color-primary-thedarkest: #312450;
$color-primary-darker: #493382;
$color-primary-dark: #5e42a2;
$color-primary-base: #484aac;
$color-primary-light: #4c4eac;
$color-primary-lighter: #5052b2;

$color-secondary-base: #fff;
$color-secondary-accent: #b74e91;

$font-title-large: 3em; /*3em 48px*/
$font-title-middle: 1.875em; /*1.875em 30px*/
$font-title-small: 1.36em; /*1.36em 22px*/

$font-text-large: 1.125em; /*1.125em 18px*/
$font-text-middle: 1em; /*1em 16px*/
$font-text-small: 0.875em; /*0.875em 14px*/
$font-text-smaller: 0.75em; /*0.75em 12px*/
