$color-primary-thelightest: #ffffff;
$color-primary-lighter: #eff0f2;
$color-primary-light: #fafafa;
$color-primary-base: #f9fbfb;
$color-primary-dark: #f8fafb;
$color-primary-darker: #eff0f2;
$color-primary-thedarkest: #e4e5e8;

$color-secondary-lighter: #d0d0d0;
$color-secondary-light: #8a8a8a;
$color-secondary-base: #767070;
$color-secondary-dark: #505050;
$color-secondary-darker: #262b2e;
$color-secondary-thedarkest: #000000;

$color-accent-thelightest: #77efe5;
$color-accent-lighter: #6eeee4;
$color-accent-light: #71f6eb;
$color-accent-base: #6df6eb;
$color-accent-dark: #76f4ea;
$color-accent-darker: #71f6eb;
$color-accent-thedarkest: #012623;

$font-xxxs: 0.83em;
$font-xxs: 0.88em;
$font-xs: 0.94em;
$font-s: 1em;
$font-m: 1.05em;
$font-l: 1.11em;
$font-xl: 1.16em;
$font-xxl: 1.22em;
$font-xxxl: 2.11em;
$font-xxxxl: 2.5em;