.works {
	background-color: $color-primary-thelightest;
	
	&__inner {
		@include flexbox(column, center, center);
	}

	&__gallery-wrapper {
		margin-top: 100px;
	}
}

@media screen and (max-width: 992px) {
	.works {

		&__gallery-wrapper {
			margin-top: 50px;
		}
	}
}